body, {
  color: #bf2e1a;
}

.nav-masthead .nav-link {
  color: #bf2e1a;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom: .25rem solid #bf2e1a;
}

.nav-masthead .active {
  color: #bf2e1a;
  border-bottom: .25rem solid #17a2b8;
}

.masthead-brand {
  color: #bf2e1a;
}

.password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 11px;
	right: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(/no-view.svg) 0 0 no-repeat;
}
