body {
    color: #17a2b8;
}

.nav-masthead .nav-link {
  color: #17a2b8;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom: .25rem solid #17a2b8;
}

.nav-masthead .active {
  color: #17a2b8;
  border-bottom: .25rem solid #bf2e1a;
}


.masthead-brand {
  color: #17a2b8;
}
