body, {
  color: #fff;
}

footer {
    background-color: #1e5c8b;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.diagram{
  display: inline-block;
  box-sizing: border-box;
  padding-left: 10%;
  z-index: 4;
}

.org-card {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    width: 50%;
    padding: 1%;
    min-width: calc(180px - .5rem);
}

.org-card:hover img {
    -webkit-transform: scale(1.25,1.25);
    transform: scale(1.25,1.25);
}

.org-card .org-container {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    line-height: 0;
}

.org-card img {
    position: relative;
    display: block;
    width: 480px;
    height: 480px;
    object-fit: cover;
}

.org-card.green-card .org-shade {
    background-color: #17a2b8;
}

.org-card .org-info {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: .75rem;
}

.org-card .org-shade {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .85;
}


.ul-diagram{
  position: relative;
  border: 0 #999 solid;
  border-bottom-width: 1px;
  width: 200px;
  height: 40px;
  border-bottom: none !important;
}

.li-diagram{
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.li-diagram-highlight{
    background-color: #bf2e1a;
}

li{
  list-style: none;
}

.job-slider{
  display: flex;
}

.nav-masthead .nav-link {
  color: #bf2e1a;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom: .25rem solid #bf2e1a;
}

.nav-masthead .active {
  color: #bf2e1a;
  border-bottom: .25rem solid #17a2b8;
}

.mpj-description-title a{
  text-decoration: none;
  font-size: 16px ;
  font-weight: bold ;
  line-height: 1.25;
  color: #000000;
}
.mpj-description-ads a{
  text-decoration: none;
  color: #000000;
  order: 2;
  margin-bottom: 22px;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.34;
  line-height: 1;
}
.mpj-description-salary a {
  text-decoration: none;
  color: #000000;
}

.mpj-description-salary-average {
  font-size: 28px;
  font-weight: bold;
}

.masthead-brand {
  color: #bf2e1a;
}

.max-salary{
  color: #bf2e1a;
  float: right;
}

.min-salary{
  color: #17a2b8;
  float: left;
}

.password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 11px;
	right: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(/no-view.svg) 0 0 no-repeat;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

@media (min-width: 768px) {
  .job-slider .swiper-slide {
    //margin-left: 1.5rem;
    width: calc(50%)!important;
  }
}

@media (min-width: 992px){
  .job-slider.swiper-slide {
      //margin-left: 3rem;
      width: calc(33%)!important;
  }
}

.select2-container--default .select2-selection--multiple {
    //border-radius: 100px;
    border: 1px solid #17a2b8;
    font-size: 1.5rem;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    //border-bottom-left-radius: 100px;
    //border-bottom-right-radius: 100px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #17a2b8;
}

.select2-results__option {
    background-color: white;
    color: black;
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Raleway',sans-serif;
}

/*---------------------------------------------*/

a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(to right, #21d4fd, #b721ff);
  color: -o-linear-gradient(to right, #21d4fd, #b721ff);
  color: -moz-linear-gradient(to right, #21d4fd, #b721ff);
  color: linear-gradient(to right, #21d4fd, #b721ff);
}

/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}

textarea:-moz-placeholder {
  color: #adadad;
}

textarea::-moz-placeholder {
  color: #adadad;
}

textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.txt1 {
font-family: 'Raleway',sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
font-family: 'Raleway',sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
  background-image: linear-gradient(to right, #21d4fd, #b721ff);
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: 'Raleway',sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #666666;
  line-height: 1.2;
  text-align: center;
}

.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
font-family: 'Raleway',sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s;
  background: #6a7dfe;
  background: linear-gradient(to right, #21d4fd, #b721ff);
}

.focus-input100::after {
  font-family: 'Raleway',sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/

.btn-show-pass {
  font-size: 15px;
  color: #999999;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(to right, #21d4fd, #b721ff);
  color: -o-linear-gradient(to right, #21d4fd, #b721ff);
  color: -moz-linear-gradient(to right, #21d4fd, #b721ff);
  color: linear-gradient(to right, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(to right, #21d4fd, #b721ff);
  color: -o-linear-gradient(to right, #21d4fd, #b721ff);
  color: -moz-linear-gradient(to right, #21d4fd, #b721ff);
  color: linear-gradient(to right, #21d4fd, #b721ff);
}

/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: linear-gradient(to left, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: 'Raleway',sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;
  font-family: 'Raleway',sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "!";
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  color: #c80000;
  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
