body {
  color: #bf2e1a;
}

.nav-masthead .nav-link {
  color: #bf2e1a;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom: 0.25rem solid #bf2e1a;
}

.nav-masthead .active {
  color: #bf2e1a;
  border-bottom: 0.25rem solid #17a2b8;
}

.masthead-brand {
  color: #bf2e1a;
}

