body {
  color: #fff;
}

footer {
  background-color: #1e5c8b;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.diagram {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 10%;
  z-index: 4;
}

.org-card {
  flex: auto;
  width: 50%;
  padding: 1%;
  min-width: calc(180px - .5rem);
}

.org-card:hover img {
  transform: scale(1.25, 1.25);
}

.org-card .org-container {
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
  line-height: 0;
}

.org-card img {
  position: relative;
  display: block;
  width: 480px;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}

.org-card.green-card .org-shade {
  background-color: #17a2b8;
}

.org-card .org-info {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0.75rem;
}

.org-card .org-shade {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.ul-diagram {
  position: relative;
  border: 0 #999 solid;
  border-bottom-width: 1px;
  width: 200px;
  height: 40px;
  border-bottom: none !important;
}

.li-diagram {
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.li-diagram-highlight {
  background-color: #bf2e1a;
}

li {
  list-style: none;
}

.job-slider {
  display: flex;
}

.nav-masthead .nav-link {
  color: #bf2e1a;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom: 0.25rem solid #bf2e1a;
}

.nav-masthead .active {
  color: #bf2e1a;
  border-bottom: 0.25rem solid #17a2b8;
}

.mpj-description-title a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  color: #000000;
}

.mpj-description-ads a {
  text-decoration: none;
  color: #000000;
  order: 2;
  margin-bottom: 22px;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.34;
  line-height: 1;
}

.mpj-description-salary a {
  text-decoration: none;
  color: #000000;
}

.mpj-description-salary-average {
  font-size: 28px;
  font-weight: bold;
}

.masthead-brand {
  color: #bf2e1a;
}

.max-salary {
  color: #bf2e1a;
  float: right;
}

.min-salary {
  color: #17a2b8;
  float: left;
}

.password {
  position: relative;
}

.password-control {
  position: absolute;
  top: 11px;
  right: 6px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/view.svg) 0 0 no-repeat;
}

.password-control.view {
  background: url(/no-view.svg) 0 0 no-repeat;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

@media (min-width: 768px) {
  .job-slider .swiper-slide {
    width: calc(50%) !important;
  }
}

@media (min-width: 992px) {
  .job-slider.swiper-slide {
    width: calc(33%) !important;
  }
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #17a2b8;
  font-size: 1.5rem;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #17a2b8;
}

.select2-results__option {
  background-color: red;
}

